<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
<!--        <bean id="aliean" class="com.livein.Aliean" scope="prototype"></bean>-->
    <bean id="aliean" class="com.livein.Aliean" scope="singleton">
<!--        <property name="age" value="21"></property>-->
<!--        <property name="lap" ref="lap1"></property>-->
<!--        <constructor-arg type="int" value="21"/>-->
<!--        <constructor-arg type="com.livein.Laptop" ref="lap1"/>-->
        <constructor-arg index="0" value="26"/>
        <constructor-arg index="1" ref="lap1"/>
<!--        <constructor-arg name="lap" ref="lap1"/>-->
<!--        <constructor-arg name="age" value="21"/>-->
    </bean>
    <bean id="lap1" class="com.livein.Laptop"></bean>
</beans>